<div class="blog-post">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">

    <h2 class="blog-post-title">
      {% if page.title %}
        {{ page.title | escape }}
      {% endif %}
      {% if post.title %}
        {{ post.title | escape }}
      {% endif %}
    </h2>
    <p class="blog-post-meta">Published on:
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% if page.date %}
          {{ page.date | date: date_format }}
        {% endif %}
        {% if post.date %}
          {{ post.date | date: date_format }}
        {% endif %}
      </time>
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
</div>