div#post-index {
    max-width: 55%;
}

div.container {
    max-width: 55%;
}

div#container {
    padding-top: 10rem;
}

img.profile-picture {
    width: 30%;
    height: 30%;
    border-radius: 2em;
}

a {
    color: #3fb0ac;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #555;
}

header.post-header {
    border-bottom: 1px solid #dddfd4;
}

ul, ol {
    list-style: square;
}