div.fluid-width-video-wrapper {
    margin-bottom: 0px;
}

div.fluid-width-video-wrapper iframe.youtube-iframe {
    width: 425px; 
    height: 240px;
}

.post-stub-date::before {
    content: "";
}

.post-stub a {
    padding-top: 0;
    padding-bottom: 1em;
    color: inherit;
}

.post-stub a:hover {
    padding: 0px 0px;
    padding-top: 0;
    padding-bottom: 2rem;
    background: none;
    color: inherit;
    transition: none; 
}

.newer-posts, .older-posts {
    background-color: #fff;
    color: #e05915;
}

.newer-posts:hover, .older-posts:hover {
    background-color: #fff;
    text-decoration: underline;
}

h4.post-stub-title {
    font-size: larger;
    font-family: 'Anton', sans-serif;
}

.post-stub a {
    padding: 0px;
    padding-bottom: 2rem;
}

li.post-stub {
    border-bottom: none;
}

time.post-stub-date {
    font-size: smaller;
}

div.post-content {
    padding-top: 1em;
    text-align: justify;    
    text-justify: inter-word;
}

div.post-content a:hover {
    border: none;
    text-decoration: underline;
}

div.post {
    padding: 1rem;
    background-color: white;
}

header.post-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

p.post-description {
    margin-bottom: 0.5em;
}

p.post-date {
    margin-top: 0.5em;
}

p.tags {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1em;
}

ul.tag-list {
    font-size: 0.5em;
    display: inline-block;
}

li.tag {
    display: inline-block;
    text-transform: lowercase;
}

ol.tag-list {
    list-style: square;
}

header.post-header {
    border-bottom: 1px solid #dddfd4;
}