.site-title a {
    background-color: #431c5d;
}

.site-title a:hover {
    background-color: #431c5d;
}

.button-square {
    background-color: #431c5d;
}

.button-square:hover {
    background-color: #431c5d;
}

ul.site-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul.site-nav a {
    color: #431c5d;
    font-family: 'Roboto', sans-serif;
}

ul.site-nav a:hover {
    color: #431c5d;
    text-decoration: underline;
}

h1.post-title, h1.site-title {
    font-family: 'Roboto', sans-serif;
}

header.site-header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color:white;
    padding-top: 1rem;
    border-bottom: 1px dotted #431c5d;
}

div.post-navigation {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

