.site-title a {
    background-color: #431c5d;
}

.site-title a:hover {
    background-color: #431c5d;
}

.button-square {
    background-color: #431c5d;
}

.button-square:hover {
    background-color: #431c5d;
}

ul.site-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul.site-nav a {
    color: #431c5d;
    font-family: 'Roboto', sans-serif;
}

ul.site-nav a:hover {
    color: #431c5d;
    text-decoration: underline;
}

h1.post-title, h1.site-title {
    font-family: 'Roboto', sans-serif;
}

div.post-navigation {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

