p.footer-copyright a:hover {
    background-color: white;
    color: #431c5d;
    text-decoration: underline;
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: white;
    font-size: 0.6rem;
    color: #431c5d;
    padding-bottom: 1.5em;
    border-top: 1px dotted #431c5d;
}

footer.footer div.site-title-wrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}

footer a.button-square {
    background-color: white;
    color: #431c5d;
}

p.footer-copyright {
    font-size: 1em;
    color: #431c5d;
}

.footer-copyright a {
    color: #431c5d;
}