---
---
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background: #FFFFFF;
  color: #555;
  padding-top: 8em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Anton', sans-serif;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    /*width: 970px;*/
  }
}

/*
 * Masthead for nav
 */

nav > div.container {
  width: 100%
}

.blog-masthead {
  color:  #999;
  height: 6.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 0.3em;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.navbar-brand {
  font-size: 2.5em;
  line-height: 2em;
  text-transform: uppercase;
}

.navbar-inverse a.navbar-brand:hover {
  color: #1EAEDB;
}

form.navbar-form  {
  line-height: 2em;
  background-color: white;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand {
    color: black;
}

div.blog-masthead > div.container {
  width: 100%
}


.blog-nav {
  font-size: 1.5em;
}

a.home {
  font-size: 2em;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
  color: black;
  text-transform: uppercase;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #1EAEDB;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

div.navbar-header a {
  text-decoration: none;
}

div.navbar-collapse a {
  text-decoration: none;
}

.navbar-inverse .navbar-toggle {
    border-color: black;
}

span.icon-bar {
  background-color: red;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #0289BB;
  color: white;
  border-radius: 4px;
}
.sidebar-module-inset h4 {
  color: white;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 2em;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: black;
  font-style: italic
}

.blog-post h2,h3,h4,h5,h6 {
  margin-top: 1em;
}

.blog-post figure {
  padding-top: 1em;
  padding-bottom: 1em;
}

.blog-post img {
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 100%;
  max-height: 100%;
}
/*
 * Footer
 */

.blog-footer {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1em 0;
  text-align: center;
  color: #999;
  background-color: #fff;
  border-top: 1px solid #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

footer.blog-footer > p {
  color: black;
}
footer.blog-footer a {
  color: black;
  text-decoration: none;
}

ul.post-list li {
  padding-bottom: 2em;
}

ul.post-list img {
  max-width: 100%;
  max-height: 100%;
}

ul.post-list li a.post-link {
  color: black;
  text-decoration: none;
}

.site-title {
  width: auto;
}

.site-description {
  width: auto;
}

.icon > svg {
  display: inline-block;
  vertical-align: middle;
}

div.home > ul {
  list-style: none;
}

ul#markdown-toc {
  list-style: none;
}

ul#markdown-toc ul {
  list-style-type: none;
}

ul#markdown-toc ul > li:before {
  content: "–";
  position: absolute;
  margin-left: -1.1em;
}

ul#markdown-toc > li > a {
  font-size: larger;
  font-weight: bold;
}

#main-content h1::before {
    content: "";
    padding-right: 0em;
    margin-left: 0;
}

#main-content h1 {
  font-size: 2em;
  text-indent: 0;
}

#main-content h2::before {
    content: "";
    padding-right: 0em;
    margin-left: 0;
}

#main-content h2 {
  font-size: 1.5em;
  text-indent: 0;
}

#main-content h3::before {
    content: "";
    padding-right: 0em;
    margin-left: 0;
}

#main-content h3 {
  font-size: 1em;
  text-indent: 0;
}


html body div#content-wrapper div.inner.clearfix section#main-content div.home h1.page-heading {
  // font-family: 'Source Code Pro', monospace;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

div.blog-masthead a {
  text-decoration: none;
}

ul#markdown-toc li a {
  text-decoration: none;
}

section#main-content a {
  text-decoration: underline;
}

aside#sidebar {
    background: none;
}


.nav ul {
  list-style: none;
}

.nav li {
  display:inline;
}

.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 3em;
}

.navItem {
  margin: auto;
}

.videosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video {
  margin: auto;
  padding: 1em;
}

div.video > iframe {
  margin: 0;
  padding: 0;
  border: none;
}

div.profile {
}

div.profilePic img {
  width: 100%;
  height: 100%;
  border-radius: 2em;
}

div.background {
}

blockquote {
  font-size: 1em;
  font-style: italic;
}

/*add padding to icon*/
span.icon {
  padding: 0.5em;
}

ul.post-list > li > h2 {
  font-size: 1.5em;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

a.text-left:nth-child(3)
a.navbar-brand.visible-xs-block {
  font-size: 1em;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
