<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/assets/css/koenighotze.css">
<link rel="stylesheet" href="/assets/css/koenighotze-footer.css">
<link rel="stylesheet" href="/assets/css/koenighotze-navigation.css">
<link rel="stylesheet" href="/assets/css/koenighotze-posts.css">
<link rel="stylesheet" href="/assets/css/koenighotze-post-teaser.css">
<link rel="stylesheet" href="/assets/css/koenighotze-header.css">