<!doctype html>
<html lang="{{ site.lang | default: "en" }}">
  {% include html_head.html %}

  <body>
    {% include nav_bar.html %}

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {{ content }}
        </div><!-- /.blog-main -->

        {% include sidebar.html %}

      </div><!-- /.row -->

    </div><!-- /.container -->

    {% include footer.html %}

    <script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- <script src="{{ '/assets/javascripts/bootstrap/bootstrap.min.js' | relative_url }}"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>
