<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">


    <link rel="stylesheet" href="{{ '/assets/css/bootstrap/bootstrap.min.css' | relative_url }}" media="screen" type="text/css">


    <!-- <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}" type="text/css"> -->
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/"><img src="/favicon-32x32.png" alt="Home"/></a>
          <a class="blog-nav-item" href="/blog.html">Blog</a>
          <!-- <a class="blog-nav-item" href="/sideprojects.html">Side projects</a> -->
          <a class="blog-nav-item" href="/talksandpresentations.html">Talks and presentations</a>
          <a class="blog-nav-item" href="/about.html">About</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="lead blog-description">Last update {{ "now" | date: "%d.%m.%Y %H:%M" }}</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          {{ content }}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Get in contact</h4>
              <p class="socialBar">
                {% include icon-github.html username=site.github_username %}
                {% include icon-twitter.html username=site.twitter_username %}
                {% include icon-linkedin.html username=site.twitter_username %}
                {% include icon-xing.html username=site.twitter_username %}
              </p>
            <!-- </ol> -->
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>{% include icon-github-repo.html username=site.github_username %} (c) {{ "now" | date: "%Y" }}</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ '/assets/javascripts/bootstrap/bootstrap.min.js' | relative_url }}"></script>
  </body>
</html>
