<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include html_head.html %}

  <body>
    {% include nav_bar.html %}

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {{ content }}
        </div><!-- /.blog-main -->

        {% include sidebar.html %}

      </div><!-- /.row -->

    </div><!-- /.container -->

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="{{ '/assets/javascripts/bootstrap/bootstrap.min.js' | relative_url }}"></script>
  </body>
</html>
